{% extends 'base.html' %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {# form.hidden_tag() 模板参数将被替换为一个隐藏字段，用来是实现在配置中激活的 CSRF 保护。#}
    {# 如果你已经激活了 CSRF，这个字段需要出现在你所有的表单中。 #}
    {{ form.hidden_tag() }}
    <p>
        Please enter your OpenID:<br>
        {{form.openid(size=80)}}<br>
        {# 我们增加了一个循环获取验证 openid 字段的信息。
        {# 通常情况下，任何需要验证的字段都会把错误信息放入 form.field_name.errors 下。#} 
        {# 在我们的例子中，我们使用 form.openid.errors 。 #}
        {% for error in form.openid.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>